<!doctype html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head.html" . }}
<body>
    <div class="main-container d-flex h-100 p-3 mx-auto flex-column">
        {{ partial "header.html" . }}
        <main>
            {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
            {{ end }}
        </main>
        {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts-footer.html" . }}
</body>
</html>